

<div class="main" *ngIf="!trash && !archieve &&!searchNotes &&!lab">
    <div class="others" fxLayout="{{view}}" >Pinnotes
    <div class="getAllNotes"   fxFlexOffset="15" *ngFor="let note of pinnotes">
        <!-- <mat-label style="font-family: fantasy;color: darkgray; position: absolute;">Pinnotes</mat-label> -->
        <mat-card class="getNotesMat"  [ngStyle]="{'background':note.colour}" >
            <div class="matdiv">
                <div class="pinNotes">
                    <button *ngIf="!isPinned" mat-icon-button matTooltip="pin" class="button"(click)="unpin('note')">
                        <img class="image" style="border: none; width: 93%;" src="../../../assets/images/pinned.png" height="50%" id="imgRem">
                     </button>
                </div>
                <mat-card-title (click)="openDialog(note)">  {{note.title}}</mat-card-title><br>
                    <mat-card-content (click)="openDialog(note)"> {{note.description}} </mat-card-content>
            </div>
    
            <div *ngFor="let label of note.list">
            <mat-chip>
            {{label.name}}
            <mat-icon matChipRemove (click)="removemapping(note.id,label.labelId)">cancel</mat-icon>
            </mat-chip>
            </div>

            <div *ngIf="note.reminder!=null">
                <mat-chip>
                 {{note.reminder }}
                 <mat-icon matChipRemove (click)="onDeleteRem(note)">cancel</mat-icon>
               </mat-chip> 
             </div>

            <app-icons [note]='note'></app-icons>
        </mat-card>
    </div>
</div>
</div>  

<div class="main"*ngIf="!trash || !archieve || !reminder">
    <div class="others"fxLayout="{{view}}"  >others
    <div class="getAllNotes" fxFlexOffset="15"  *ngFor="let note of notes | searchnote:searchnote" >   
        <mat-card class="getNotesMat"  [ngStyle]="{'background':note.colour}">
            <div class="matdiv">
                <!-- <div class="pindiv" *ngIf="!trashedNotes" (click)="pin=!pin">
                    <a><img id="pin" src="../../../assets/images/unpin.png"  (click)="onPin(note.id)"/></a>
                </div> -->
                <div class="pinNotes">
                    <app-pinnotes [note]="note" ></app-pinnotes>
                </div>
            <mat-card-title (click)="openDialog(note)">{{note.title}}</mat-card-title> <br>
            <mat-card-content (click)="openDialog(note)"> {{note.description}} </mat-card-content> 
            </div>
            <div *ngFor="let label of note.list">
                <mat-chip>
                     {{label.name}}
                    <mat-icon matChipRemove (click)="removemapping(note.id,label.labelId)">cancel</mat-icon>
                </mat-chip>
            </div>
            <div *ngIf="note.reminder!=null">
                <mat-chip>
                 {{note.reminder }}
                 <mat-icon matChipRemove (click)="onDeleteRem(note)">cancel</mat-icon>
               </mat-chip> 
             </div>
           
<app-icons [note]='note' ></app-icons>
        </mat-card>
    </div>
</div>
</div>

