<div style="padding-left: 100px;font-family: fantasy;color: darkgray;">Pinnotes</div>
<div style="flex-wrap: wrap;">
    <div class="getAllNotes" *ngFor="let note of pinnotes">
        <mat-card class="getNotesMat" >
            <div class="matdiv">
                <mat-card-title >  {{note.title}}</mat-card-title><br>
                    <mat-card-content > {{note.description}} </mat-card-content>
            </div>
        </mat-card>
    </div>
</div>

<div style="padding-left: 100px;font-family: fantasy;color: darkgray;">others</div>
<div style="flex-wrap: wrap;">
    <div class="getAllNotes"  *ngFor="let note of notes" >
        <mat-card class="getNotesMat">
            <div class="matdiv">
            <mat-card-title>{{note.title}}</mat-card-title> <br>
            <mat-card-content > {{note.description}} </mat-card-content> 
            </div>
        </mat-card>
    </div>
</div>

