
<div class="container">
  <div>
      <mat-toolbar >
      <mat-toolbar-row>
       
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <img class="image" src="assets/images/keep-512.png" alt="Keep">
        <span><mat-label style="font-family: sans-serif; padding-left: 5px;">Keep</mat-label>
        </span>
        
        <div class="search">
        <button mat-icon-button class="search-icon">
          <mat-icon>search</mat-icon>
        </button>
        <input class="searchInput" type="text" placeholder="Search"  [(ngModel)]="title" (input)="searchNote()">
        <button mat-icon-button class="cancel">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      
      <div class="rightside">
        <button mat-icon-button class="refresh" >
          <mat-icon>refresh</mat-icon>
        </button>
        
        <!-- <button mat-icon-button class="list" *ngIf = "!listview" (click) = "onclicked()">
          <img src="../../../assets/images/listviewicon.svg" matTooltip="List View">
          
        </button>
        <button mat-icon-button class="list"*ngIf = "listview" (click) = "onclicked()">
          <img src="../../../assets/images/grislisticon.svg" matTooltip="Grid View">
        </button> -->
        <button mat-icon-button  *ngIf="!gridList" (click)="gridList()" fxShow="true" fxHide.lt-sm="true">
          <mat-icon class="icon">grid_view</mat-icon>
        </button>

        <button mat-icon-button  *ngIf="gridList" (click)="gridList()" fxShow="true" fxHide.lt-sm="true">
          <mat-icon class="icon">view_module</mat-icon>
        </button>



        <button mat-icon-button class="sttings">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button class="apps" >
          <mat-icon>apps</mat-icon>
        </button>
        
        <button mat-icon-button  [matMenuTriggerFor]="menu" class="refresh">
                            
          <mat-icon><img style="width: 35px;height: 35px; border-radius: 21em;"  src="../../../assets/images/profileIcon.jpg"></mat-icon>
         
         <mat-menu #menu="matMenu" >
             <div style="width: 280px; height: 220px;">
         <div class="div-profilepic" >
            <div class="up">
               <label for="file-input">

         <mat-icon><img style="width: 70px;height: 70px; border-radius: 21em; justify-content: center; " type="file"src="../../../assets/images/profileIcon.jpg"></mat-icon>
         <!-- <input id="file-input" type="file" placeholder="selectFile" /> -->
     </label>
 </div>
         </div>
         
             <div class="profile-content">
                 <div style="height: 10%; width: 100;">
                 <mat-label class="namelabel" style="color: rgb(65, 64, 64);  font-family: 'Sen', sans-serif;float: center;">pradeep</mat-label>
                 <h4 style="color: rgb(71, 82, 94); font-family: 'Sen', sans-serif; float: center;">pradeep@gmail.com</h4>
                 </div>
               </div>
               <div class="div-profile">
                 <div class="signbtn">
                   <button [routerLink]="['']" (click)="signout()"  style="font-family: 'Sen', sans-serif;" mat-button class="signout-button">Sign-out</button>
                 </div>
               </div>
             </div>
         </mat-menu>
     </button>

      </div>
     
      </mat-toolbar-row>
     </mat-toolbar>
  </div>
 <div class="upmat" >
  <mat-sidenav-container  >
     <mat-sidenav #snav mode="side" class="matsidenav"> 
       <div class="notediv">
        <a [routerLink]="['notes']" [queryParams]="{ page: 'display' }">
        <button mat-button class="notebutton">
          <div class="icondiv">
            <mat-icon>lightbulb_outline</mat-icon>
          </div>
          <span > Notes</span>
        </button></a>
        
        <a [routerLink]="['notes']" [queryParams]="{ page: 'reminder' }">
        <button mat-button  class="remindbutton">
          <div class="icondiv">
            <mat-icon>notifications</mat-icon>
          </div>
          <span>Reminder</span>
        </button></a>

      </div>
      <mat-divider></mat-divider>
      
      <diV class="labeldiv">
        <!-- <mat-label class="labelmat">LABELS</mat-label> -->
        
        <button *ngFor="let label of labels" [routerLink]="['notes']" (click)="displaynotelabels(label.labelId)" mat-button class="labelbutton">
         <div class="icondiv">
          <img src="../../../assets/images/label.png"  style="width: 10%; height: 10%; float: left;">
          <span > {{label.name}}  </span>
         </div>
          
        </button>

           
        

        <button mat-button class="labelbutton"(click)="openDialog(labels)">
          <div class="icondiv">
            <mat-icon>edit</mat-icon>
          </div>
          <span >Edit labels</span>
        </button>
      </diV>

      <mat-divider></mat-divider>
      <diV class="notediv">
        <a [routerLink]="['notes']" [queryParams]="{ page: 'archive' }">
        <button mat-button class="notebutton">
          <div class="icondiv">
            <mat-icon>archive</mat-icon>
          </div>
          <span > Archive</span>
        </button></a>
    
        <a [routerLink]="['notes']" [queryParams]="{ page: 'trash' }">
        <button mat-button class="remindbutton">
          <div class="icondiv">
            <mat-icon>delete</mat-icon>
          </div>
          <span>Trashed</span>
        </button></a>
        
      </diV>

      

      <mat-divider></mat-divider>
     </mat-sidenav>
    <mat-sidenav-content >
      <router-outlet ></router-outlet>
   </mat-sidenav-content>
  </mat-sidenav-container>
  </div>
</div>