<div class="resetpassword" >
    <mat-card class="border">
      <mat-card-header>
       <div mat-card-avatar  ></div>
        <mat-card-title >
          <h2 class="h2">ResetrPassword</h2>
        </mat-card-title>
      </mat-card-header>

      <div class="content" >
        <mat-card-content >

                
        <mat-form-field class="label1"  appearance="outline" >
            <!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon">home</mat-icon> -->
            <mat-label class="label2">Email:</mat-label> 
            <input matInput placeholder="E-mail" [formControl]="emailId" type="email"  >
              <mat-error  *ngIf="emailId.invalid">{{errorEmailMessage()}}</mat-error>
           </mat-form-field>
            
            <mat-form-field class="label1" appearance="outline">
                <!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon">lock</mat-icon> -->
                     <mat-label class="label2"> New Password:</mat-label>
                     <input matInput type="password" [formControl]="password">
                     <mat-error  *ngIf="password.invalid">{{errorPasswordMessage()}}</mat-error>
                 </mat-form-field>
             
    
         
        <mat-form-field class="label1" appearance="outline">
       <!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon">lock</mat-icon> -->
            <mat-label class="label2">Conform Password:</mat-label>
            <input matInput type="password" [formControl]="password">
            <mat-error  *ngIf="password.invalid">{{errorPasswordMessage()}}</mat-error>
        </mat-form-field>
        
        <button mat-button type="submit" (click)="onResetSubmit()" class="submit">Login</button>
</mat-card-content>
</div>
</mat-card>
</div>     
    

