
   .label1{
    align-content: center;
    width: 50vh;
    
    
    }
    
    .subbmit{
        background-color:rgb(43, 127, 223);
        color:white;
        margin-left: 7em;
     }
  
  .forgotpassword{
    background-image: url(../../../assets/images/background.jpg);
   margin: 0;
   height: 100vh;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-flow: wrap;
    
  }
  .border{
    
    width: 50vh;
    height: 50vh;
  }
  .content{
    border-radius: 2em;
    box-shadow:2px,6px,7px,1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vh;
    height: 40vh;
    
   
  }
  .h2{
   font-size: 30px;
   
   margin-top: 5px;
   font-family: sans-serif;
  }
  .border{
    border-style: outset;
   
    
  }