<div class="forgotpassword" >
    <mat-card class="border">
      <mat-card-header>
       <div mat-card-avatar  ></div>
        <mat-card-title >
          <h2 class="h2">ForgotPassword</h2>
        </mat-card-title>
      </mat-card-header>

      <div class="content" >
        <mat-card-content >
            
        <mat-form-field class="label1" appearance="outline" >
          <mat-label class="label2">Email:</mat-label> 
          <!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon">home</mat-icon> -->
            <input matInput placeholder="E-mail" [formControl]="emailId" type="email"  >
            <mat-error  *ngIf="emailId.invalid">{{errorEmailMessage()}}</mat-error>
         </mat-form-field>
             
    
        <button mat-button color="primary" (click)="onForgotPasswordSubmit()" class="subbmit">Submit</button>
      
    
</mat-card-content>
</div>
</mat-card>
</div>     
    
