.mainicon{
    display: flex;
     justify-content: space-around;
    align-items:center;
    border: rebeccapurple;
}
.material-icons:hover {
    border: none;
    background-color: white;
}
.material-icons{
    border:none;
    width:70%;
    height: 70%;
}