.signout {
    height: 35px;
    width: 45px;
    padding-bottom: 30px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    border: none;
}
.size {
    background-color: whitesmoke;
    border: none;
    height: 50px;
    padding-bottom: 20px;
    width: 45px;
}
.card {
    height: 310px;
    width: 280px;
}
.si {
    background-color: whitesmoke;
    border: none;
    outline: none;
    height: 165px;
    width: 225px;
}
.left {
    padding-right: 100px;
}