<div class="main"  mat-dialog-content fxLayout="column" fxFlex>
    <textarea id="title" [(ngModel)]="note.title" style="border: none;" matInput type="text" class="input sizeof" placeholder="Title"></textarea>
    <textarea id="desc" style="border: none; " matInput type="text" class="input sizeof" placeholder="Take a note" [(ngModel)]="note.description"></textarea>
    <!-- <div class="lastEdit">
        <span>Last Edit:{{note.updaTimestamp}</span>
    </div> -->
    <div class="icon" mat-dialog-actions>
        <app-icons class="sizeof"></app-icons>
        <div class="div-button" button (click)="onSubmit()">
            <button >Close</button>
        </div>
    </div>
</div>
