
   .label1{
    margin-left: 5em;
    
    
    }
    
    .subbmit{
      background-color: whitesmoke;
      margin-left: 55px;
    }
  
  .forgotpassword{
   margin: 0;
   height: 100vh;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-flow: wrap;
  
  
    
  }
  .content{
    border-radius: 2em;
    box-shadow:2px,6px,7px,1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
   width:70%;
  
   margin-top:1em;
   margin-left: 5em;
  }
  .h2{
  font-size: 30px;
  margin-left: 30%;
  margin-top: 5px;
  font-family: sans-serif;
  }
  .border{
    border-style: outset;
   
    
  }