
<div class="container" >
    <mat-card  class="matcard" *ngIf="!open" (click)="onopen()">
        <input matInput class="searchBar" placeholder="Take a note..">
        <div id="pindiv">
        </div>
    </mat-card>
    <mat-card class="matcard1"  *ngIf="open"  fxLayout="column">
         <textarea id="title"   [formControl] ="titleFormControl" matInput type="text" class="input" placeholder="Title"></textarea>
            <textarea id="description"   [formControl] ="descriptionFormControl" matInput type="text" class="input" placeholder="Take a note"></textarea>
            <div class="icon" >
                <div (click)="open=!open">
                    <button mat-icon-button (click)="onSubmit()" >Close</button>
                </div>
            </div>
    </mat-card>
</div>