.header{
  width: 100%;
  height:70px;
  background-color: skyblue;
}
.heading{
  text-align: center;
  font-size: 2em;
  padding-top: 0.6em;
}
.regimatcard
{
  width: 25%;
  height: 20em;
  background-color: skyblue;
  margin-top: 2em;
  margin-left: 35em;
  border-radius: 2em;
  box-shadow: 2px 5px 6px 6px;
}
.label1{
margin-left: 5em;


}
.label2{
  font-size: 18px;
}
.subbmit{
  background-color: whitesmoke;
  margin-left: 55px;
}