<div class ="header">
<H2 class="heading">Fundoo Notes</H2>
</div>
<mat-card class="regimatcard">
    <mat-form-field class="label1">
        <mat-label class="label2">Name:</mat-label>
        <input matInput>
    </mat-form-field><br>
    <mat-form-field class="label1">
        <mat-label class="label2">Email:</mat-label>
        <input matInput>
    </mat-form-field><br>

         <mat-form-field class="label1">
        <mat-label class="label2">MobileNumber:</mat-label>
        <input matInput>
    </mat-form-field><br>

    <mat-form-field class="label1">
        <mat-label class="label2">Password:</mat-label>
        <input matInput type="password">
    </mat-form-field>
    <button mat-button color="primary" class="subbmit">Submit</button>
    <a mat-button routerLink="/login">Alerday registered</a>
</mat-card>

       
